@keyframes showText {
from { opacity: 0; }
25% { opacity: 0;  }
50% {opacity: 0.5;}
to { opacity: 1;}
}



html
{
	background-color: white;
	margin: -6px;
	 box-sizing: border-box;
	
}
h5 {
	padding:0;
	margin:0;
	padding-left:40px;
	float: left;
}
   ul  { 
    margin: 0; 
    padding: 0; 
	float: right;
	padding-right: 6%;
	padding-top: 15px;
   }
li h5 {
	padding-top: 10 px;
	margin:0;
	font-size:100%;
	float: left;
	display: inline;
}

    /*  MENU AND TOP, HEADER */
.menu a {
	color: #D8D8D8;
	text-decoration: none;
	
}
 .menuItem h5:hover {
	color: #FA8258;
}
.menu {
	position: fixed;
	width: 100%;

	background-color: #2E2E2E;
	z-index: 999999;
}
.menuLogo {
	padding-right: 0;
	font-size: 130%;
}
 .menuItem {
	font-size: 200%;
	font-family: "matura mt script capitals";
	color: #D8D8D8;
	padding: 0;
	margin: 0;
	}
.menuPos h5 {
	font-size: 70%;
	padding-top: 10 px;
	 text-align: right;
}
.imageHeader {
	position: relative;
	z-index: 9999999999;
}
.imageTop {
	width: 100%;
}
.menuHeader {
	position: absolute;
	width: 100%;
	height: auto;
    background-color: rgba(46, 46, 46, 0.6); 
	font-size: 1.2em;
	padding-top: 20px;
}

.menuHeader .menuLogo {
	color: #D8D8D8;
}
.menuHeader .menuPos {
	font-size: 0.7em;
		color: #D8D8D8;
}
.headerText {
	position: absolute;
	text-transform: uppercase;
	top: 35%;
	font-family: "Franklin Gothic Medium";	
	text-align: center;
	left: 15%;
	font-size: 10vw;
	color: #D8D8D8;
	text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
	animation: showText  6s infinite linear;
}
 ul  li {
    display: inline;
 }
 

	 
.serviceItem {
	display: inline-block;
    width: 300px;
	height: 400px;
	margin: 10px;
	padding: 10px;
	border: 3px groove rgba(88, 93, 99, .1);
	vertical-align: top;
	font-size: 110%;
	text-align: center;
}
.service-heading {
	font-size: 150%;
}
	 
.serviceL1, .serviceL2 {
	text-align: center;
	display:block;
	
}	 
.sevices {
	text-align: center;
	vertical-align: top;
}	 
.itemLogo
{
	height: 150px;
	width: 150px;
} 
	 
	 
	 .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}




.sectionHeader {
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	font-family: "helvetica";
	color: #D8D8D8;
	font-size: 250%;
	text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
}

.contacts {
	background-color: #e6e6e6;
		text-align: center;
		margin-bottom: -30px;
		
}
.services .sectionHeader  {
	margin-top: -10px;
}
.contacts .sectionHeader,  .services .sectionHeader, .about .sectionHeader, .myProjects .sectionHeader {
	color: black;
}
.contactsFcol h4 {
	font-family: "fantasy";	
	font-size: 220%;
	margin-top: 10px;
	margin-bottom: 0px;
}
.contactsFcol p {
	font-size: 150%;
	margin-top: 5px;

}
.contactA, .contactsFcol {
	display: inline-block;
}

.contactA {
	margin-left: 70px;
	text-align: left;
	font-size: 150%;
	vertical-align: top;
}
.contactA p {
	margin: 20px;
}
  
.myPhoto {
	border: 7px solid #797d82;
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
   
   
   
   
   
   
 .writeMeBox {
	width: 100%;
	background-image: url("../img/writeMeFon.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	text-align: center;
	margin:0;
	
	
}

input {
	margin: 10px;
	font-size: 120%;
	
}

.textMessage{
	margin-top: 50px;
	margin-bottom: 30px;
	margin-bottom: 20px;
	
}
textarea {
	height: 150px;
	width: 35%;
	margin: 50 px;
	font-size: 160%;
	
}


button {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
	font-size: 120%;
	padding: 10px 20px;
	font-family: "footlight mt light";
	border-radius: 5px;

}



.copyright {
	text-align: center;
	width: 100%;
	font-size: 110%;
	border-top: 2px solid black;
	font-family: "palatino linotype";
}
    /* timeline             */
	

  .about {
	  width:100%;
	  
  }






}

h1 span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999;
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666;
   background-color: #dde3eb;
   border-radius: 10px;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;

}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}
.timelineImageItem1
{
	background-image: url("../img/timeline1.jpg");
	background-position: center, center;
	background-size: cover;
	 width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   margin-top: 10px;
   z-index: 999;
}

.timelineImageItem2 {
		background-image: url("../img/timeline2.png");
	background-position: center, center;
	background-size: cover;
	 width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   margin-top: 10px;
   z-index: 999;
	
}

.timelineImageItem3 {
		background-image: url("../img/timeline3.png");
	background-position: center, center;
	background-size: cover;
	 width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   margin-top: 10px;
   z-index: 999;	
}

.timelineImageItem4 {
		background-image: url("../img/timeline4.jpg");
	background-position: center, center;
	background-size: cover;
	 width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   margin-top: 10px;
   z-index: 999;	
}
.timelineImageItem5 {
		background-image: url("../img/timeline5.png");
	background-position: center, center;
	background-size: cover;
	 width: 120px;
   height: 100px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   margin-top: 10px;
   z-index: 999;	
}

@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}	
	/* timeline END */
	
	
	/* myProjects */
.projectItem {
		display: inline-block;
    width: 300px;
	margin: 10px;
	padding: 10px;
	vertical-align: top;
	font-size: 110%;
	text-align: center;
}	
	
	
	
	
.myProjects {
	background-color: rgba(206, 215, 224, .2);
}
.project1 {
	background-image:  	 url("../img/project1.jpg");
	width:300px;
	height:300px;
	background-position: center, center;
	background-size: cover;
	text-align: center;
	 box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}	
.project2 {
	background-image:  	 url("../img/project2.jpg");
	width:300px;
	height:300px;
	background-position: center, center;
	background-size: cover;
	text-align: center;
	 box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}
.project3 {
	background-image:  	 url("../img/project3.jpg");
	width:300px;
	height:300px;
	background-size: cover;
	text-align: center;
	 box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}
.project4 {
	background-image:  	 url("../img/project4.png");
	width:300px;
	height:300px;
	background-size: cover;
	text-align: center;
	 box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}
.project5 {
	background-image:  	 url("../img/project5L.jpg");
	width:300px;
	height:300px;
	background-size: cover;
	text-align: center;
	 box-shadow: 0 8px 10px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.22);
}
.clicker {	
width:300px;
height:300px;
cursor:pointer;
text-align: center;
z-index: 100;
}

.hiddendiv{
display:none;
}

.clicker:focus + .hiddendiv{
display:block;
}
	
.projectItem:hover {
	background-color: #D1D0D0;
}	
.projectLogo {
	width: 80%;
	height: 60%;
}
.modal-dialog {
	float: left;
	position: fixed;
	 background-color: #EFEEEE;
	 border-radius: 10px;
     top: 15%;
	 text-align: center;
	 box-sizing: border-box;
		left: .5%;
		margin-left: 15%;
		margin-right: 15%;
	 z-index: 9999999;
	 padding-top: 3%;
	 padding-left: 7%;
	 padding-right: 7%;
	 display: block;
	 font-family: "helvetica";
}

.myProjects .service-heading
{
	margin-top: 10px;
	margin-bottom:0;
	
}
.myProjects button {
	font-family: "Times New Roman";
	text-transform: none;
	background-color: white;
	margin: 20px;
}
.myProjects p {
	margin:0;
	left: 20%;
}	

	
	/* myProjects END */
	
	
	 button:hover {
	background-color: #FA8258;
}

@media screen and (min-width: 750px) and (max-width: 1200px) { 
.menu {
	height: 100 px;
}

}

@media screen and (max-width: 750px) { 
.menu {
	display: none;
}

textarea {
	width: auto;
}
.imageHeader {

	font-size: 100%;
}
.menuHeader {
	position: static;
display: block;
	height: 150px;
	width: 100%;
}

.menuItem {

}
.headerText {
	top: 60%;
}
}
@media screen and (max-width: 550px) { 
.menuHeader {

	height: 200px;
	
}
}